// Variabili
$font-family: "Montserrat", sans-serif;
$primary-bg-color: #427aff;
$white-color: #fff;
$dark-color: #060606;
$quiz-bg-color: #f0f8ff;
$quiz-option-bg: #82a3f1;
$quiz-option-hover-bg: #427aff;
$correct-option-bg: #00ff2a;
$wrong-option-bg: #f73d44;
$disabled-option-opacity: 0.5;
$button-bg-color: #007bff;
$button-text-color: #fff;

// Mixin per la selezione dell'opzione
@mixin option($bg-color) {
  padding: 1rem;
  display: block;
  color: $dark-color;
  font-weight: 600;
  background-color: $bg-color;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: $quiz-option-hover-bg;
    color: $white-color;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &.correct {
    background-color: $correct-option-bg;
  }
  &.wrong {
    background-color: $wrong-option-bg;
  }
  &.disabled {
    opacity: $disabled-option-opacity;
  }
  input {
    display: none;
  }
}

// Stili SCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $primary-bg-color;
  color: $white-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: $white-color;

  &:hover {
    text-decoration: underline; /* Aggiungi la sottolineatura al passaggio del mouse */
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz {
  background-color: $quiz-bg-color;
  padding: 1rem;
  width: 100%;
  max-width: 640px;
  border-radius: 5px;
}

.quiz-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: $dark-color;
  font-size: 1.25rem;
  .question {
    font-size: larger;
    font-weight: 600;
  }
  .score {
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.5rem 0.3rem;
    border-radius: 8px;
    color: $white-color;
    background-color: $primary-bg-color;
  }
  .timer {
    background-color: $wrong-option-bg;
    color: $white-color;
    width: 2.4rem; /* Larghezza uguale all'altezza */
    height: 2.4rem; /* Larghezza uguale all'altezza */
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
  }
}

.option {
  @include option($quiz-option-bg);
}

.option.correct {
  @include option($correct-option-bg);
}

.option.wrong {
  @include option($wrong-option-bg);
}

.option.disabled {
  @include option($disabled-option-opacity);
}

button,
.my-router-link {
  appearance: none;
  width: 20rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: $button-bg-color;
  color: $button-text-color;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  &:disabled {
    opacity: $disabled-option-opacity;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-size: 1.5rem;
  text-align: center;
}

.spacer {
  height: 230px;
}
